body {
    background-color: lightgoldenrodyellow;
}

#container {
    display: flex;
    flex-direction: column;
}

#barre-de-navigation {
    display: flex;
}

#logo {
    display: flex;
    justify-content: left;
    width: 50%;
}

#menu {
    display: flex;
    justify-content: right;
    width: 50%;
}

ul {
    display: flex;
    justify-content: space-between;
    width: 100%;

}

ul li {
    list-style: none;
}

img {
    width: 90px;
}

#welcome {
    background-image: url('assets/ornament-3662184_960_720.webp');
    background-size: cover;
    width: 2000px;
    height: 500px;

    display: flex;
    justify-content: center;
    text-align: center;
    line-height: 450px;
    font-family: Ani;
    font-size: 28px;
    color: white;

}

#histoire {
    font-family: Garuda;
    font-size: 20px;
}

#family {
    font-family: Garuda;
    font-size: 30px;
    display: flex;
    flex-direction: column;
}

#personnages {
    display: flex;
    justify-content: center;
}

.personnage {
    flex-direction: column;
    display: flex;
    padding: 20px;
    width: 33%;

}


#divroiphoto {
    display: flex;
    justify-content: center;
}

#divreinephoto {
    display: flex;
    justify-content: center;
}

#divprincessephoto {
    display: flex;
    justify-content: center;
}



#roiphoto {
    height: 550px;
    width: 400px;
}

#reinephoto {
    height: 550px;
    width: 400px;
}

#princessephoto {
    height: 550px;
    width: 400px;
}

#roinom {
    display: flex;
    justify-content: center;
    font-family: Ani;
    color: red;
}

#reinenom {
    display: flex;
    justify-content: center;
    font-family: Ani;
    color: red;
}

#princessenom {
    display: flex;
    justify-content: center;
    font-family: Ani;
    color: red;
}