#container {
    display: flex;
    flex-direction: column;
}

#barre-de-navigation {
    display: flex;
}

#logo {
    display: flex;
    justify-content: left;
    width: 50%;
}


#menu {
    display: flex;
    justify-content: right;
    width: 50%;
}

ul {
    display: flex;
    justify-content: space-between;
    width: 100% ;

}

ul li {
    list-style: none;
}

img {
    width: 100px;
    height: 100px;
}
